.register {
  padding: 10px;
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: var(--black-transparent);
  border-radius: 10px;
}
.register__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.register__form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--white-soft);
  color: var(--black-soft);
  outline: none;
}
.register__btn {
  max-width: 200px;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-self: center;

  border: none;
  cursor: pointer;
  border-radius: 40px;
  background-color: var(--black-transparent);
  color: var(--white-soft);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.register__btn:hover {
  background-color: var(--semi-transparent-white);
  color: var(--black-soft);
}
.register__login {
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 10px;
  width: 100%;
  align-self: center;
}
.register__login a {
  text-decoration: none;
  color: inherit;
}
.register__login a:hover {
  color: var(--black-soft);
}
.register__errorSearch {
  padding: 5px;
  position: absolute;
  bottom: -80px;
  right: 50px;

  opacity: 0;
  visibility: hidden;

  color: red;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 40px;

  transition: opacity 0.3s ease, visibility 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.register__errorSearch.visible {
  opacity: 1;
  visibility: visible;
}
